* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: white;
    background-color: hsl(267, 43%, 87%);
    font-family: Helvetica;
    margin-top: 40px;
}

h1 {
    color: #1b1b32;
    font-size: 25px;
    font-family: Helvetica;
    text-align: center;
    margin: 20px 0;
}

.aplicacion-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Lista de Tareas */
.tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #F3F7F0;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}
